.std-highlight  { background: #ffffff; }
.std-highlight .c { color: #999988; font-style: italic } /* Comment */
.std-highlight .err { color: #a61717; background-color: #e3d2d2 } /* Error */
.std-highlight .k { font-weight: bold } /* Keyword */
.std-highlight .o { font-weight: bold } /* Operator */
.std-highlight .cm { color: #999988; font-style: italic } /* Comment.Multiline */
.std-highlight .cp { color: #999999; font-weight: bold } /* Comment.Preproc */
.std-highlight .c1 { color: #999988; font-style: italic } /* Comment.Single */
.std-highlight .cs { color: #999999; font-weight: bold; font-style: italic } /* Comment.Special */
.std-highlight .gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
.std-highlight .gd .x { color: #000000; background-color: #ffaaaa } /* Generic.Deleted.Specific */
.std-highlight .ge { font-style: italic } /* Generic.Emph */
.std-highlight .gr { color: #aa0000 } /* Generic.Error */
.std-highlight .gh { color: #999999 } /* Generic.Heading */
.std-highlight .gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
.std-highlight .gi .x { color: #000000; background-color: #aaffaa } /* Generic.Inserted.Specific */
.std-highlight .go { color: #888888 } /* Generic.Output */
.std-highlight .gp { color: #555555 } /* Generic.Prompt */
.std-highlight .gs { font-weight: bold } /* Generic.Strong */
.std-highlight .gu { color: #aaaaaa } /* Generic.Subheading */
.std-highlight .gt { color: #aa0000 } /* Generic.Traceback */
.std-highlight .kc { font-weight: bold } /* Keyword.Constant */
.std-highlight .kd { font-weight: bold } /* Keyword.Declaration */
.std-highlight .kp { font-weight: bold } /* Keyword.Pseudo */
.std-highlight .kr { font-weight: bold } /* Keyword.Reserved */
.std-highlight .kt { color: #445588; font-weight: bold } /* Keyword.Type */
.std-highlight .m { color: #009999 } /* Literal.Number */
.std-highlight .s { color: #d14 } /* Literal.String */
.std-highlight .na { color: #008080 } /* Name.Attribute */
.std-highlight .nb { color: #0086B3 } /* Name.Builtin */
.std-highlight .nc { color: #445588; font-weight: bold } /* Name.Class */
.std-highlight .no { color: #008080 } /* Name.Constant */
.std-highlight .ni { color: #800080 } /* Name.Entity */
.std-highlight .ne { color: #990000; font-weight: bold } /* Name.Exception */
.std-highlight .nf { color: #990000; font-weight: bold } /* Name.Function */
.std-highlight .nn { color: #555555 } /* Name.Namespace */
.std-highlight .nt { color: #000080 } /* Name.Tag */
.std-highlight .nv { color: #008080 } /* Name.Variable */
.std-highlight .ow { font-weight: bold } /* Operator.Word */
.std-highlight .w { color: #bbbbbb } /* Text.Whitespace */
.std-highlight .mf { color: #009999 } /* Literal.Number.Float */
.std-highlight .mh { color: #009999 } /* Literal.Number.Hex */
.std-highlight .mi { color: #009999 } /* Literal.Number.Integer */
.std-highlight .mo { color: #009999 } /* Literal.Number.Oct */
.std-highlight .sb { color: #d14 } /* Literal.String.Backtick */
.std-highlight .sc { color: #d14 } /* Literal.String.Char */
.std-highlight .sd { color: #d14 } /* Literal.String.Doc */
.std-highlight .s2 { color: #d14 } /* Literal.String.Double */
.std-highlight .se { color: #d14 } /* Literal.String.Escape */
.std-highlight .sh { color: #d14 } /* Literal.String.Heredoc */
.std-highlight .si { color: #d14 } /* Literal.String.Interpol */
.std-highlight .sx { color: #d14 } /* Literal.String.Other */
.std-highlight .sr { color: #009926 } /* Literal.String.Regex */
.std-highlight .s1 { color: #d14 } /* Literal.String.Single */
.std-highlight .ss { color: #990073 } /* Literal.String.Symbol */
.std-highlight .bp { color: #999999 } /* Name.Builtin.Pseudo */
.std-highlight .vc { color: #008080 } /* Name.Variable.Class */
.std-highlight .vg { color: #008080 } /* Name.Variable.Global */
.std-highlight .vi { color: #008080 } /* Name.Variable.Instance */
.std-highlight .il { color: #009999 } /* Literal.Number.Integer.Long */
