{% extends "base.html" %}
{% block content %}
<header>
  <h2>{{ page.title | markdown(inline=true) | safe }}</h2>
  {%if page.description %} <h4 class="description">  {{ page.description | markdown(inline=true) | safe }}</h4>{% endif %}
  <p class="meta">{{ page.date | date(format="%b %e, %Y") }}</p>
</header>

<!-- <div class="postWrapper">
  <div class="leftBumper"></div> -->
<main>
  <aside></aside>
  <article class="post">
    {% if page.extra %}
      {% if page.extra.redirectTo %}
        {{ page.extra.redirectTo | safe }}
        <meta http-equiv="Refresh" content="0; url={{ page.extra.redirectTo | safe }}">
      {% endif %}
    {% endif %}
    {{ page.content | safe }}
  </article>
  <aside></aside>
</main>
  <!-- <div class="leftBumper"></div>
</div> -->
{% endblock content %}