<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <link rel="shortcut icon"
         href="/favicon.ico" />

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">
        <link rel="stylesheet" href="/css/zenburn.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

    </head>
    <body>

        <div class="container">
          <div class="site">
            <div class="header">
              <h1 class="title"><a href="/">{{ site.name }}</a></h1>
              <a class="extra" href="/">home</a>
            </div>

                {{ content }}

            <div class="footer">
              <div class="contact">
                <div class="std-highlight">
                  <pre>
                    <code class="clojure language-clojure" data-lang="clojure">
<span class="p">(</span><span class="k">def </span> <span class="nv">Marco-Munizaga</span>
      <span class="p">{</span><span class="ss">:email</span> <span class="p">(</span><span class="nb">str </span><span class="s">"marco"</span> <span class="s">"@"</span> <span class="s">"marcopolo.io"</span><span class="p">)</span>
       <span class="ss">:github</span> <span class="s"><a href="https://github.com/marcopolo">github.com/marcopolo</a></span>
       <span class="ss">:pgp-fingerprint</span> <span class="s">"917C 0A22 91F5 9CBE 602C  2F7D 32E6 FD11 453D 7C12"</span>
       <span class="ss">:keyserver</span> <span class="s">"pgp.mit.edu"</span> <span class="p">}</span><span class="p">)</span>
                                        </pre>
                </code>
              </div>

                <p>
                </p>
              </div>

            </div>
          </div>
          <a class="extra" href="/feeds.xml">RSS (All posts)</a>
          <br/>
          <a class="extra" href="/feeds.clojure.xml">RSS (Clojure post only)</a>
        </div> <!-- /container -->

    </body>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-41112579-1', 'marcopolo.io');
      ga('send', 'pageview');

    </script>

</html>
